/* fuentes usadas */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');



/* variables para fuentes y colores */
:root {
    /* fuentes */
    --menu: 'Fjalla One', sans-serif;
    --titulos: 'Oswald', sans-serif;
    --parrafo: 'Montserrat', sans-serif;
    /* --parrafo: 'Federo', sans-serif; */

    /* colores */
    --c-menu: #231f20;
    --c-principal: #0d72ba;
    --c-secundario: #03bcf4;
    --terciario: #0c3f6a;
    --blanco: #fff;
    --negro: rgb(36, 37, 40);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    letter-spacing: 0.5px;
}

/* barra de navegacion */
.barra {
    font-family: var(--menu);
    position: fixed;
    height: 14vh;
    background-color: rgba(35, 31, 32, 0.3);
    list-style: none;
    z-index: 10;
    box-shadow: none;
    padding-top: 0px;
    transition: 0.5s;
}

.barra a {
    font-size: 18px ;
    color: var(--blanco);
    transition: 0.5s;
}

.barra2 {
    height: 14vh;
    font-family: var(--menu);
    position: fixed;
    background-color: rgba(35, 31, 32, 0.8);
    list-style: none;
    z-index: 10;
    box-shadow: none;
    padding-top: -10px;
    transition: 0.5s;
}

.barra2 a {
    transition: 0.5s;
}

.barra2 ul {
    margin-top: -15px;
}

.logo1 img {
    width: 19vw;
    transition: 0.5s;
}

.logo2 img {
    width: 15vw;
    transition: 0.5s;
}

/* estilo navbar haburguesa */
.sidenav {
    width: 80%;
    background-color: rgba(35, 31, 32, 0.6);
    font-family: var(--menu);
}

.bt-menu {
    margin-top: -5% !important;
}

.sidenav hr {
    color: var(--blanco);
}

.lista-menu {
    margin-top: 10%;
}

.cerrar {
    padding: 12px;
}


/* estilo del sliderslider */
.slider {
    position: relative;
    height: 100vh;
    top: 0;
    margin-bottom: 2%;
}

.carousel {
    height: 100vh;
}

.flechas {
    margin-top: 20%;
}

.flechas i {
    color: var(--blanco);
    font-size: 55px;
}

/* informacion del slider */
.informacion {
    position: absolute;
    margin-top: -34%;
    font-family: var(--menu);
    margin-left:  25%;
    z-index: 25;
}

.informacion h1 {
    margin: 0 auto;
    width: 50vw;
    position: absolute;
    font-size: 9vmin;
    color: var(--blanco);
}

/* EFECTOS */
/* efecto de letras PM Publicidad*/
.pm, .publi {
    display: inline-block;
    overflow:hidden;
    height: 1.5em;
}

.pm {
    color: var(--terciario)
}

.pm2 {
    position: absolute;
    color: var(--terciario);
}

.publi {
    color: var(--blanco);
    animation: ani1 5s infinite;
    -moz-animation: ani1 5s infinite;
    animation-delay: -3s;
    -moz-animation-delay: -3s;
    animation-direction: reverse;
    max-width: 0;
}

@keyframes ani1 {
    0% {
        max-width: 500px;
    }
    
    25% {
        max-width: 0;
    }
    
    75% {
        max-width: 0;
    }
    
    90% {
        max-width: 500px;
    }
    
    100% {
        max-width: 500px;
    }
}

/* lineas de PM */
.pm:before{
	content: "";
	position: absolute;
	margin-top: -25px;
    margin-left: -25px;
	height: 60%;
	width: 10%;
	border-left: 10px solid #f6b304;
	border-top: 10px solid #f6b304;
	transition: 0.5s;
}

.pm2:after{
	content: "";
	position: absolute;
	margin-top: 25px;
    margin-left: -60px;
	height: 90%;
	width: 220%;
	border-right: 10px solid #f6b304;
	border-bottom: 10px solid #f6b304;
	transition: 0.5s;
}

.banner {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}


.leyenda span i {
    background-color: var(--blanco);
    color: rgba(0, 0, 0, 0.514);
    padding: 20px;
}

.leyenda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid var(--blanco);
    color: var(--blanco);
    z-index: 5;
}


.introduccion {
    width: 100%;
    margin-bottom: 8%;
}

.descripcion h2 {
    font-family: var(--titulos);
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    color: var(--negro);
}

.descripcion p {
    width: 75vw;
    margin: 0 auto;
    font-family: var(--parrafo);
    padding: 0.2em;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
}

.boton-about {
    margin-top: 3%;
}

.boton-about a {
    background-color: rgb(36, 37, 40);
    font-size: 1.2rem;
}

.boton-about a:hover {
    background-color: rgba(36, 37, 40, 0.85);
}

/* servicios */
.servicios {
    color: var(--negro);
    font-family: var(--titulos);
    background-color: var(--terciario); 

}

.frase-servicios {
    font-family: var(--titulos);
    color: var(--blanco);
    font-size: 48px;
    padding: 40px;
}

.boton-servicios {
    margin-top: 3%;
}

.nuestros-servicios {
    margin-top: 2%;
}

.nuestros-servicios h2 {
    font-family: var(--titulos);
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    color: var(--negro);
}

.nuestros-servicios p {
    font-family: var(--parrafo);
    padding: 0.2em;
    font-size: 1.5rem;
    line-height: 1.6;
}

.boton-servicios {
    margin-top: 10%;
    margin-bottom: 5%;
}

.boton-servicios a{
    border-radius: 10px;
    border: 2px solid var(--blanco);
    background-color: transparent;
    font-size: 1.2rem;
    box-shadow: none;
}

.boton-servicios a:hover {
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
}

/* QUIENES SOMOS */

.nosotros {
    margin-bottom: 10%;
    margin-top: 5%;
    color: var(--negro);
}

.historia {
    margin-bottom: 5%;
}


.historia h3 {
    font-family: var(--titulos);
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    color: var(--negro);
    padding: 1.8rem;
}

.historia-texto {
    font-family: var(--parrafo);
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: justify;
}

.historia-texto img {
    float: right;
    shape-outside: polygon( 14.5% 45.95%, 14.3% 36.9%, 14.3% 26.9%, 10.55% 23.7%, 8.45% 20.8%, 8.45% 16.4%, 8.35% 4.05%, 15.4% -0.85%, 21.45% -1.1%, 29.8% -1%, 49.95% -1.1%, 100.9% -1.35%, 101.65% 101.95%, 40.05% 102.1%, 12.75% 102.2%, 12.65% 92.4%, 4.95% 88%, 5.05% 73.85%, 12.45% 68.45%, 12.1% 53.9%, 19.7% 95.6%);
}

.contenido-historia2 {
    display: none
}

.contenido-historia1 {
    display: block
}

.historia-texto2 {
    font-family: var(--parrafo);
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: justify;
}

.imgh1 {
    float: left;
    width: 25%;
}

.imgh2 {
    float: right;
    width: 25%
}


.identidad h3 {
    font-family: var(--titulos);
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    color: var(--negro);
    padding: 1.8rem;
    margin-bottom: 5%;
}

.mision, .vision {
    position: relative
}

.mision-titulo, .vision-titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    border: 3px solid var(--blanco);
    padding: 3%;
    z-index: 2;

}

.mision-background, .vision-background {
    position: absolute;
    width: 97%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    background-color: #0d72ba7c;
    z-index: 1
}

.mision-texto .titulo, .vision-texto .titulo {
    font-family: var(--titulos);
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    padding: 1rem;
    margin-bottom: 5%;
    color: var(--negro);
    background-color: var(--terciario);
    border-bottom-right-radius: 75px
}

.mision-texto, .vision-texto {
    font-family: var(--parrafo);
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
}

/* SERVICIOS */

.tarjetas {
    width: 100%;
    margin: 0 auto; 
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
    /* background-color: #ffff0077; */
}

.columna {
    padding: 0 !important;
    margin-bottom: -23px !important;
}

.card {
    box-shadow: none !important;
    position: relative;
}

.details {
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(.5);
    transition: .4s;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.card:hover .details {
    transform: scale(1);
    visibility: visible;
}

.content h5 {
    /* text-transform: uppercase; */
    margin-top: 30%;
    color: var(--blanco);
    text-shadow: 2px 2px 2px var(--negro);
}

.content a {
    background-color: transparent;
    border: 2px solid var(--blanco);
}

.content a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.productos-texto {
    margin-bottom: 3%;
}

.productos-texto h2 {
    font-family: var(--titulos);
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 0px;
    color: var(--negro);
}

.productos-texto p {
    width: 70%;
    margin: 0 auto;
    font-family: var(--parrafo);
    padding: 0.2em;
    font-size: 1.5rem;
    line-height: 1.6;
}

/* SECCION DE SERVICIOS */

.tarjeta-srv {
   background-image: url('../imagenes/srv.jpg');
   background-size: cover;
   /* background: linear-gradient(to left, #0d72ba, #2066fc); */
    position: relative;
    border-radius: 10px;
}



.img-srv {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-3%) translateY(-50%);
    z-index: 5
}

.descripcion-srv {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-5%) translateY(-50%);
    padding: 1rem;
    border: 5px solid var(--blanco);
    z-index: 3;
    color: var(--negro);
    font-family: var(--parrafo);
}

/* SECCION DE PRODUCTOS */

.busqueda {
    width: 95%;
    margin: 0 auto;
    text-align: center
}

.busqueda p {
    font-size: 25px;
}

.busqueda a {
    text-decoration: none;
    color: var(--negro);
    font-size: 16px;
    padding: 15px;
}

.busqueda a:hover {
    color: red;
}

.seccion-productos {
    width: 100%;
    margin: 0 auto;
}

.ta {
    margin-bottom: 20px;
}

.tarjeta-prd {
    margin: 0 auto;
    width: 250px;
    height: 300px;
    background: var(--blanco);
    font-family: var(--parrafo);
    overflow: hidden;
    border: 1px solid rgb(212, 212, 212);
}

.tarjeta-prd .imagen-prd img{
    width: 100%;
    transition: 0.5s;
}

.tarjeta-prd:hover .imagen-prd img {
    opacity: 0.7;
}

.tarjeta-prd .detalles-prd {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #31a8ae;
    text-align: center;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(85%);
    padding: 1px;
}

.tarjeta-prd:hover .detalles-prd {
    transform: translateY(65%);
}

.detalles-prd a {
    background-color: transparent;
    border: 1px solid var(--blanco);
    box-shadow: none;
} 

.detalles-prd a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--blanco);
    box-shadow: none;
} 

#detalles {
    min-width: 100%;
    min-height: 90% !important;
    background-color: rgba(255, 255, 255, 0.9);
}

.imagen-producto img {
    width: 70%
}

.boton-detalles {
    position: absolute;
    visibility: hidden;
    transition: .2s;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tarjeta-prd:hover .boton-detalles {
    visibility: visible;
}

 .imagen-prd:hover {
    background-color: rgba(0, 255, 255, 0.123);
}

.botoncito {
    position: absolute;
    top: 25%;
    left: 30%;
}

/* SECCION DE COTIZACIONES */

.cotizar {
    /* margin-top: 20%; */
    width: 100%;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    /* background-color: var(--blanco); */
}
.caja {
    border: 1px solid rgb(219, 219, 219);
    /* height: 55vh; */
}

.medidas {
    border: 2px solid var(--terciario);
    background-color: var(--c-principal);
    margin: 0 auto;
}

.modal {
    transition: 0.05s;
}


.formulario {
    border: 1px solid rgb(212, 212, 212);
}


/* SECCION DE CONTACTOS */
.tab button {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--negro);
    width: 300px;

}

.tab button:hover {
    background-color: rgba(32, 32, 32, 0.8);
    color: var(--blanco);
    cursor: pointer;
    border: none;
}


.tab button:focus {
    background-color: rgba(32, 32, 32, 0.8);
    color: var(--blanco);
    cursor: pointer;
    border: none;
}

.sucursales {
    width: 95%;
    margin: 0 auto;
    transition: 0.5s
}

.info-contacto {
    margin-top: 5%;
}

.info-contacto h6 {
    font-family: var(--titulos);
}

.info-contacto p {
    font-family: var(--parrafo);
    padding-left: 7%;
    padding-right: 5%;
    color: var(--negro)
}



/* FOOTER */
.footer {
    background-color:  #242528;
    padding: 3%;
    color: var(--blanco);
    font-size: 15px;
}

.footerimg {
    margin-bottom: -10px;
}

.footer-container {
    height: 100px;
}

#iconoRedes {
    color: var(--blanco);
    font-size: 30px;
}

/* media queries */

@media screen and (max-width: 1250px){
    .mision-titulo h2, .vision-titulo h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .barra2 {
        height: 30vh;
    }

    .barra2 ul {
        margin-top: -15px;
    }
    
    .logo2 img {
        width: 20vw;
    }

    .nav .sidenav-trigger {
        margin: -14px 18px;
    }
}

@media screen and (max-width: 992px) and (orientation: portrait){
    .bt-menu {
        margin-top: -1% !important;
    }

    .informacion {
        display: none;
    }
 
    .texto2 {
        display: none;
    }

    .logo img {
        width: 20vw;
        transition: 0.5s;
        margin-top: 25px;
    }

    .logo2 img {
        width: 20vw;
        transition: 0.5s;
        margin-top: 25px;
    }

    /* .leyenda span i {
        font-size: .5rem;
    } */
    
    .leyenda {
        font-size: 1.8rem; 
    }

    .contenido-historia1 {
        display: none
    }

    .contenido-historia2 {
        display: block
    }
    
    .historia-texto2 {
        font-family: var(--parrafo);
        padding: 1.5rem;
        font-size: 1.3rem;
        line-height: 1.6;
        text-align: justify;
    }
    
    .imgh1 {
        float: left;
        width: 25%;
    }
    
    .imgh2 {
        float: right;
        width: 25%
    }

    
 }

 @media screen and (max-width: 768px){ 
    .bt-menu {
        margin-top: -2% !important;
    }

    .leyenda {
        border: 3px solid var(--blanco);
        top: 40%;
    }

    .leyenda span i {
        padding: 15px;
    }

    .mision-titulo h2, .vision-titulo h2{
        font-size: 25px;
    }
  }

 @media  screen and (max-width: 480px){ 
    .bt-menu {
        margin-top: -4% !important;
    }

    .leyenda {
        font-size: 1rem;
        border: 2px solid var(--blanco);
        top: 30%;
    }

    .leyenda span i {
        padding: 10px;
    }
 }

