/* fuentes usadas */
/* Fjalla One */

/*@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */

/* Color Theme Swatches in Hex */
/* #F7DC1B
#FFFFFF
#54BAD8
#0093C6
#192C47 */

/* https://www.templatemonster.com/es/demo/53164.html
https://www.templatemonster.com/es/demo/67044.html
https://www.templatemonster.com/es/demo/79814.html */


@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* colores 
0a3e6b azul oscuro
ffdb4a amarillo
5dd3d9 celeste
171717 negro
*/

/* variables para fuentes y colores */
:root {
    /* fuentes */
    --menu: 'Fjalla One', sans-serif;
    --titulos: 'Oswald', sans-serif;
    --parrafo: 'Montserrat', sans-serif;

    /* colores */
    --titulo: #242528;
    --principal: #0583F2;
    --secundario: #418FBF;
    --terciario: #0c3f6a;
    --textos1: #fff;
    --textos2: #0c3f6a;
}

/* eliminar la configuracion por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



/* barra de navegacion */
.barra {
    font-family: var(--menu);
    position: fixed;
    height: 14vh;
    background-color: #0c406a36 !important;
    list-style: none;
    z-index: 10;
    box-shadow: none;
    padding-top: 0px;
    /* background-color: #565a5e4b; */
}

.barra a {
    font-size: 18px !important;
    color: var(--textos1);
}

.barra2 {
    height: 10vh;
    font-family: var(--menu);
    position: fixed;
    background-color: #0c3f6a !important;
    list-style: none;
    z-index: 10;
    box-shadow: none;
    padding-top: -10px;
}

.barra2 ul {
    margin-top: -15px;
}

.logo1 img {
    width: 30%;
}

.logo2 img {
    width: 20%;
}

/* estilo navbar haburguesa */
.sidenav {
    width: 80vw;
}

/* estilo del sliderslider */
.slider {
    top: 0;
}

.carousel {
    height: 100vh;
}

.flechas {
    margin-top: 20%;
}

.flechas i {
    color: white;
    font-size: 55px;
}

/* informacion del slider */
.informacion {
    margin-top: -34%;
    font-family: var(--menu);
    margin-left:  25%;
    margin-bottom: 40%;
}

.informacion h1 {
    margin: 0 auto;
    width: 50vw;
    position: absolute;
    font-size: 80px;
    color: var(--textos1);
}

/* EFECTOS */
/* efecto de letras PM Publicidad*/
.pm, .publi {
    display: inline-block;
    overflow:hidden;
    height: 1.5em;
}

.pm {
    color: var(--terciario)
}

.pm2 {
    position: absolute;
    color: var(--terciario);
}

.publi {
    color: var(--textos1);
    animation: ani1 5s infinite;
    -moz-animation: ani1 5s infinite;
    animation-delay: -3s;
    -moz-animation-delay: -3s;
    animation-direction: reverse;
    max-width: 0;
}

@keyframes ani1 {
    0% {
        max-width: 500px;
    }
    
    25% {
        max-width: 0;
    }
    
    75% {
        max-width: 0;
    }
    
    90% {
        max-width: 500px;
    }
    
    100% {
        max-width: 500px;
    }
}

/* lineas de PM */
.pm:before{
	content: "";
	position: absolute;
	margin-top: -25px;
    margin-left: -25px;
	height: 60%;
	width: 10%;
	border-left: 10px solid #f6b304;
	border-top: 10px solid #f6b304;
	transition: 0.5s;
}

.pm2:after{
	content: "";
	position: absolute;
	margin-top: 25px;
    margin-left: -60px;
	height: 90%;
	width: 240%;
	border-right: 10px solid #f6b304;
	border-bottom: 10px solid #f6b304;
	transition: 0.5s;
}

/* EFECTOS DE SCROLL */
/* .introduccion {
    animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
} */

/* EFECTO DE TARJETAS */
.animacion1 {
    color: var(--textos1);
    animation-name: mover;
    animation-duration: 0.6s;
}

@keyframes mover {
    from {transform: translateX(-100px)}
    to{transform: translateX(4px)}
}

.animacion2 {
    color: var(--textos1);
    animation-name: mover2;
    animation-duration: 0.3s;
    animation-direction: reverse;
}

@keyframes mover2 {
    from {transform: translateX( 4px)}
    to{transform: translateX(100px)}
}


/* ESTILO DEL CONTENIDO */
/* introduccion de la empresa */
.introduccion {
    margin-top: 28%;
    /* margin-bottom: 8%; */
    background-color: var(--secundario);
    padding: 3% 1% 3% 1%;
}

.descripcion {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-family: var(--parrafo);
    font-size: 15px;
    color: var(--textos1); 
    
    
}

.alinear h2, h4, h6 {
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.125em;
    letter-spacing: 2.4px;
}



.alinear {
    margin: 0 auto;
    text-align: justify;
}

.alinear p {
    font-size: 1.1em;
    padding: 2% 1% 2% 1%;
}

/* servicios */
.linea1 {
    /* gradiente de fondo */
    background: #31a8ae;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #036a93, #31a8ae);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #036a93, #31a8ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--textos1);
    padding: 2%;
    font-family: var(--parrafo);
    margin-bottom: 3%;
}

.descripcionLinea {
    width: 80vw;
    margin: 0 auto;
    padding: 1% 2% 1% 2%;
    font-size: 5vmin;
    text-align: justify;
}

.servicios {
    font-family: var(--parrafo);
    color: var(--textos2);
    background-color: grey !important;
}

.serviciosDescripcion {
    width: 80vw;
    margin: 0 auto;
    padding: 1% 2% 1% 2%;
    font-size: 20px;
    text-align: justify;
}

.tarjetas {
    width: 80vw;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
}

.servicio {
    color: var(--textos2);
}

.servicio img {
    width: 40%;
    margin: 0 auto;
}

.bordes {
    height: 300px;
}

#bordadoInfo, #confeccionInfo, #sublimacionInfo, #serigrafiaInfo, #digitalInfo, #promocionalInfo, #impresionInfo, #rotulacionInfo, #letraInfo, #productoInfo, #instalacionInfo {
    display: none;
    height: 300px;
    color: var(--textos1);
    background-color: var(--terciario);
}

#bordadoInfo a, #confeccionInfo a, #sublimacionInfo a, #serigrafiaInfo a, #digitalInfo a, #promocionalInfo a, #impresionInfo a, #rotulacionInfo a, #letraInfo a, #productoInfo a, #instalacionInfo a {
    color: var(--textos1);
}

.productos {
    color: var(--textos1);
    background-color: var(--terciario);
    margin-bottom: 1%;
}

.descripcionProd {
    width: 80vw;
    margin: 0 auto;
    padding: 1% 2% 1% 2%;
    font-size: 19px;
    text-align: justify;
    font-family: var(--parrafo);
}

/* SECCION DE PRODUCTOS */

.busqueda {
    position: absolute;
}



.seccion_productos {
    width: 100vw;
    right: 0;
}

.card {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 300px;
    height: 350px;
    background: #fff;
    font-family: var(--parrafo);
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #31a8ae;
    text-transform: uppercase;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #31a8ae;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.details button {
    background-color: #31a8ae;
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #036a93;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center h1 span {
    font-size: 14px;
    color: #0c3f6a;
}
.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #0c3f6a;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card .details .center ul li a:hover {
    background: #ff3636;
}

/* SECCION DE COTIZACIONES */
.caja {
    border: 1px solid rgb(219, 219, 219);
    height: 55vh;
}

.medidas {
    border: 1px solid rgb(95, 191, 255);
    margin: 2px;
}



/* footer de la pagina */
.footer {
    background-color: var(--principal);
    padding: 3%;
    color: var(--textos1);
    font-family: var(--parrafo);
    font-size: 15px;
}

.icono {
    font-size: 25px;
}

.icono a {
    color: var(--textos2);
}

.icono i {
    color: var(--textos1);
    font-size: 30px;
}




