<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image" href="./imagenes/pmicon.ico">
    <title>PM PUblicidad</title>
     
    <!-- vue -->
     <script src="https://vuejs.org/js/vue.min.js"></script>
    
     <!-- axios -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- iconos materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- estilo css -->
    <link rel="stylesheet" href="https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/slider.css">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/7eaf41582e.js"></script>

    <!-- scripts de js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/script.js"></script>
    <script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>


</head> 
<body>
    <header>
        <!-- BARRA DE NAVEGACION -->
        <nav class="nav-wrapper barra">
            <div class="row">
                <!-- LOGO DE LA EMPRESA -->
                <div class="logo col s5">
                    <a href="index.html" class="brand-logo logo1"><img src="imagenes/LOGOPM2.png"></a>
                </div>
                    
                </div>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="large material-icons white-text">menu</i></a>
                <div class="col s7 menu">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="quienessomos.html">¿Quienes somos?</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="cotiza.html">Cotizar</a></li>
                        <li><a href="contactanos.html">Contáctanos</a></li>    
                    </ul>
                </div>
        </nav>

        <!-- MENU DE HAMBURGUESA PARA DISPOSITIVOS MEDIUM Y SMALL -->
        <ul class="sidenav" id="mobile-demo">
            <!-- <li><i class="material-icons right white-text cerrar">close</i></li> -->
            <div class="lista-menu">
                <li class="center">
                    <a href="index.html" class="brand-logo logo1"><img src="imagenes/LOGOPM2.png"></a>
                </li>
                <br>
                <hr>
                <br>
                <li><a href="index.html" class="white-text center">Inicio</a></li>
                <li><a href="quienessomos.html" class="white-text center">¿Quienes somos?</a></li>
                <li><a href="servicios.html" class="white-text center">Servicios</a></li>
                <li><a href="productos.html" class="white-text center">Productos</a></li>
                <li><a href="cotiza.html" class="white-text center">Cotiza</a></li>
                <li><a href="contactanos.html" class="white-text center">Contáctanos</a></li>   
            </div>
        </ul>

    </header>
    <main>
        <!-- SLIDER -->
        <div class="demo" id="promociones">
            <div id="lightSlider">
                <div v-for="slide in slides" :key="slide.id_promocion">
                    <img :src="`data:image/jpg;base64,${slide.imagen}`" alt="" width="100%">
                </div>
            </div>   
        </div>
    
           <div class="informacion center">
               <h1>
                   <span class="pm"><span style="color: transparent">.</span></span>
                   <span class="publi"><img src="imagenes/logo2.png" alt="" width="60%"></span>
                   <span class="pm2" style="color: transparent">.</span>
               </h1>
           </div>

        <div class="row introduccion">
            <div class="col s12 descripcion">
                <h2 class="center">Pm publicidad</h2>
                <p>Debido a la necesidad que tienen las Empresas Salvadoreñas por tener un trato personal y especializado, en lo que se refiere a sus necesidades de comunicación, PM PUBLICIDAD, se pone a sus ordenes con una amplia gama de servicios creativos con una alta experiencia en el medio y personal altamente calificado con diversas disciplinas que trabajan en conjunto para llevar hasta un publico el mensaje que se desea transmitir con un cuidadoso balance entre imagen y producto. Nos hemos convertido en un valioso aliado de nuestros clientes, quienes nos dan su confianza para hacer efectivos sus planes de comunicación.</p>
            </div>
            
            <div class=" col s12 boton-about center">
                <a href="quienessomos.html" class="btn btn-large">Conoce más &nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
           
        </div>

        <div class="servicios">
            <div class="row servicios-texto">
                <div class="col s12 l6">
                    <div class="frase-servicios center">
                        <p><i class="fas fa-quote-left"></i>&nbsp; ¡Descubra por qué somos sus mejores aliados! &nbsp;<i class="fas fa-quote-right"></i></p>
                    </div>
                    <div class="img-servicios">
                        <img src="imagenes/img-servicios1.png" alt="" class="responsive-img" width="100%">
                    </div>
                </div>

                <div class="col s12 l6 nuestros-servicios center">
                    <h2 class="center white-text">Nuestros Servicios</h2>
                    <br>
                    <p class="white-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed provident illo deserunt neque ut nesciunt nisi eaque voluptatem corporis necessitatibus?</p>
                    <br>
                    <p class="white-text"><i class="far fa-lightbulb"></i> Productos personalizados</p>
                    <p class="white-text"><i class="fas fa-briefcase"></i> Visitas a negocios</p>
                    <p class="white-text"><i class="fas fa-shipping-fast"></i> Servicio a domicilio</p>
                    <p class="white-text"><i class="far fa-check-circle"></i> Calidad garantizada</p>
                    <div class="boton-servicios">
                            <a href="servicios.html" class="btn btn-large white-text">Conoce nuestros servicios &nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
                        </div>
                </div>
            </div>

           
        </div>

        <!-- SECCION PRODUCTOS DE LA EMPRESA -->
            <div class="tarjetas" id="servicios">
                <div class="row ">
                    <div class="col s12 productos-texto">
                        <h2 class="center">Nuestros Productos</h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias eos illum commodi omnis mollitia quam, consequuntur odio nostrum in eaque nisi esse quaerat asperiores corrupti voluptatem tenetur quas.</p>
                    </div>

                     <!-- TARJETAS DE SERVICIOS  -->
                    
                    <div class="col s12 m6 l3 columna center" v-for="servicio in servicios" v-bind:key="servicios.id_catgoria">
                        <div class="card">
                            <div class="card-image">
                                <img :src="`data:image/jpg;base64,${servicio.imagen}`" alt="" width="100%">
                            </div>
                            <div class="details">
                                <div class="content">
                                    <h3>{{servicio.nombre}}<br><br></h3>
                                    <!-- <span><a href="#" class="btn">Ver Productos</a></span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN TARJETAS -->
    
    </main>

    <footer>
        <img src="imagenes/footerimg.png" alt="" width="100%" class="footerimg">
        <div class="footer center">
            <div class="row">
                <div class="col s12 m6 l3 footer-container">
                    <div class="footer-info">
                        <img src="imagenes/LOGOPM2.png" alt="" width="60%">
                    </div>
                    <br>
                </div>

                <div class="col s12 m6 l3 footer-container">
                    <div class="footer-info">
                        <h6>Correo Electrónico</h6>
                        <p><i class="far fa-envelope"></i>&nbsp;&nbsp;pmpublicidadventas@gmail.com</p>
                    </div>
                </div>

                <div class="col s12 m6 l3 footer-container">
                    <div class="footer-info">
                        <h6>Teléfonos</h6>
                        <p><i class="fas fa-phone"></i>&nbsp;&nbsp;+(503) 2406-6563</p>
                        <p><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;+(503) 7580-1762</p>
                    </div>
                </div>

                <div class="col s12 m6 l3 footer-container ">
                    <div class="footer-info">
                        <h6>Facebook</h6>
                        <a href="https://es-la.facebook.com/pages/category/Product-Service/Pm-Publicidad-83252799961/" target="_blank"><i class="fab fa-facebook-square" id="iconoRedes"></i></a>
                        <p>Pmpublicidad</p>
                    </div>
                </div>
            </div>
            <div class="linea">
                <img src="imagenes/lineafooter.jpg" alt="" width="100%" class="responsive-img">
            </div>
            <br>
            <p class="center">Derechos Reservados &copy; PmPublicidad 2019.</p>
        </div>
    </footer>

            
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app2.js"></script>

    <script>
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop:true,
            slideMargin: 0,
            thumbItem: 9,
            auto: true,
           
        });
    </script>
</body>
</html>