<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>holis </title>
	
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- iconos materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="css/estilo.css">

</head>
<body>

	<div id="app" class="container">
			<h1>Elige la Sucursal</h1>
		<ul class="tabs">
			<li role="presentation" class="tab col s2">
				
				<router-link to="/principal">Inicio</router-link>
			</li>
			<li role="presentation" class="tab col s2">
				
					<router-link to="/todas">Todas</router-link>
				</li>
			<li role="presentation" class="tab col s2">
				<router-link to="/matriz">Casa Matriz</router-link>

			</li>
			<li role="presentation" class="tab col s2">
					<router-link to="/posts">Santa Ana 2</router-link>
				</li>
				<li role="presentation" class="tab col s2">
						<router-link to="/posts">San Salvador</router-link>
					</li>
		</ul>
		<router-view></router-view>
	</div>

	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>

		const Principal = {
			template: `
				<div>
					<h2> Elige una opcion </h2>
					<p> Simple ejemplo de <a href="https://vuejs.org/v2/guide/routing.html" target="_blank">Vue router</a>. </p>
				</div>
			`
		};

		const Todas = {
			data: function(){
				return {
					// cargando: true,
					// error: false,
					productos: [
					{
                id_sucursal: "1",
                sucursal: "Santa Ana 1",
                idCategoria: "1",
                categoria: "Bordados",
                producto: "Camisas bordadas",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/1935946/pexels-photo-1935946.jpeg?cs=srgb&dl=beverage-cold-delicious-1935946.jpg&fm=jpg"
                },

                {
                id_sucursal: "1",
                sucursal: "Santa Ana 1",
                idCategoria: "2",
                categoria: "Impresión Láser",
                producto: "Banners",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/1831256/pexels-photo-1831256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                },

                {
                id_sucursal: "1",
                sucursal: "Santa Ana 1",
                idCategoria: "3",
                categoria: "Impresión Digital",
                producto: "Afiche",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/2588641/pexels-photo-2588641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                },

                {
                id_sucursal: "2",
                sucursal: "Santa Ana 2",
                idCategoria: "4",
                categoria: "Servicios de Instalación",
                producto: "Instalación de Rotulos",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/2575830/pexels-photo-2575830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                },

                {
                id_sucursal: "2",
                sucursal: "Santa Ana 2",
                idCategoria: "5",
                categoria: "Serigrafía",
                producto: "Tazas",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/2621990/pexels-photo-2621990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                },

                {
                id_sucursal: "2",
                sucursal: "Santa Ana 2",
                idCategoria: "5",
                categoria: "Serigrafía",
                producto: "Camisas",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/2179865/pexels-photo-2179865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                },

                {
                id_sucursal: "3",
                sucursal: "San Salvador",
                idCategoria: "5",
                categoria: "Serigrafía",
                producto: "Pachones",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/2122294/pexels-photo-2122294.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                },

                {
                id_sucursal: "3",
                sucursal: "San Salvador",
                idCategoria: "6",
                categoria: "Confección",
                producto: "faldas",
                descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus repellat, facilis temporibus vitae ad iste voluptates corporis error architecto aut officia perspiciatis, rerum perferendis aspernatur ut minima eius! Nihil.",
                imagen: "https://images.pexels.com/photos/1974508/pexels-photo-1974508.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                }
						],
						seleccion: "",
				}
			},
			methods: {
        // abrirCategoria(nombre) {
        //     this.seleccionarSucursal = nombre;
        // },
        abrirSelec(id_producto) {
            this.seleccion = id_producto;
        }
    },
			// created: function(){
			// 	this.recuperarPosts();
			// },
			// methods: {
			// 	recuperarPosts: function(){
			// 		var that = this;
			// 		axios.get('https://jsonplaceholder.typicode.com/posts/')
			// 		.then(function (response) {
			// 			that.cargando = false;
			// 			that.posts = response.data;
			// 		})
			// 		.catch(function (error) {
			// 			that.cargando = false;
			// 			that.error = true;
			// 		});
			// 	}
			// },
			template: `
				<div>
						<div class="seccion-productos">
                    <div class="row" >
                        <div class="col s12 m6 l3" v-for="producto in productos" v-bind:key="producto.producto">
                            <div class="card tarjeta-prd">
                                <div class="imagen-prd">
                                    <img :src="producto.imagen" alt="">
                                </div>
                                <div class="detalles-prd">
                                    <p class="white-text">{{producto.producto}}</p>
                                    <p class="white-text">{{producto.categoria}}</p>
                                </div>
                                <div class="boton-detalles">
                                    <div class="botoncito">
                                        <a href="#detalles" class="btn btn-small white-text modal-trigger" v-on:click="abrirSelec(producto)">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div id="detalles" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4 class="center">{{seleccion.producto}}</h4>
                            <div class="row">
                                <div class="col s12 m6 l6 center imagen-producto">
                                    <img :src="seleccion.imagen" alt="" class="cyan">
                                </div>
    
                                <div class="col s12 m6 l6 center">
                                    <p>Descripción:</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam expedita maxime ratione molestiae quisquam officiis, libero inventore voluptas, similique ea nulla architecto porro rerum voluptatem at, nisi reprehenderit consequatur? Quae!</p>
                                    <br>
                                    <div class="precio" v-if="seleccion.precio != '0'">
                                        <p>Precio:</p>
                                        <p>$ {{seleccion.precio}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer cerrar-modal">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar x</a>
                        </div>
                    </div>
                
            </div>
				</div>
			`
		};

		const Matriz = {
			data: function(){
				return {
					// cargando: true,
					// error: false,
					// post: ''
					buscar: "",
            
            seleccionarCategoria: 'todas'
				}
			},
			// created: function(){
			// 	this.recuperarPost();
			// },
			// methods: {
			// 	recuperarPost: function(){
			// 		var that = this;
			// 		var ide = this.$route.params.id;
			// 		axios.get('https://jsonplaceholder.typicode.com/posts/' + ide)
			// 		.then(function (response) {
			// 			// that.cargando = false;
			// 			that.post = response.data;
			// 		})
			// 		.catch(function (error) {
			// 			// that.cargando = false;
			// 			that.error = true;
			// 		});
			// 	}
			// },

			computed: {
        filtrarProductos() {
				var that = this
                return that.filtrarCategoria.filter((producto) => {
                    return producto.producto.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, '').match(that.buscar.toLowerCase());
                })
        },


        filtrarCategoria() {
            var categoria = this.seleccionarCategoria;

            if(categoria.toLowerCase() === "todas") {
                return this.productos;
            } else {
                return this.productos.filter(function(producto){
                    return producto.categoria === categoria;
                })
            }
        }
    },

			template: `
				<div>
						<div class="container">
                        <div class="row">
                
                            <div class="col s8 m6 l3 offset-s2 offset-l1">
                                <div class="busqueda">
                                    <label>Categorías</label>
                                    <select v-model="seleccionarCategoria" class="browser-default">
                                        
                                        <option selected>Todas</option>
                                        <option>Bordados</option>
                                        <option>Confección</option>
                                        <option>Sublimación</option>
                                        <option>Serigrafía</option>
                                        <option>Impresión Digital</option>
                                        <option>Artículos Promocionales</option>
                                        <option>Impresión Láser</option>
                                        <option>Rotulaciones</option>
                                        <option>Letras Encajueladas</option>
                                        <option>Productos para Serigrafía</option>
                                        <option>Servicios de Instalación</option>
                                    </select>
                                </div>
                            </div>
                
                            <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l1">
                                <label for="">Buscar producto</label>
                                <input type="search" placeholder="Buscar" v-model="buscar">
                            </div>
                        </div>
                    </div>
                    
                    <br><br><br><br>


            <div class="seccion-productos">
                    <div class="row" v-if="filtrarProductos.length">
                        <div class="col s12 m6 l3" v-for="producto in filtrarProductos" v-bind:key="producto.producto">
                            <div class="card tarjeta-prd">
                                <div class="imagen-prd">
                                    <img :src="producto.imagen" alt="">
                                </div>
                                <div class="detalles-prd">
                                    <p class="white-text">{{producto.producto}}</p>
                                    <p class="white-text">{{producto.categoria}}</p>
                                </div>
                                <div class="boton-detalles">
                                    <div class="botoncito">
                                        <a href="#detalles" class="btn btn-small white-text modal-trigger" v-on:click="abrirSelec(producto)">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="row" v-else>
                            <p class="center flow-text">No hay resultados</p>
                        </div>
    

                    <div id="detalles" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4 class="center">{{seleccion.producto}}</h4>
                            <div class="row">
                                <div class="col s12 m6 l6 center imagen-producto">
                                    <img :src="seleccion.imagen" alt="" class="cyan">
                                </div>
    
                                <div class="col s12 m6 l6 center">
                                    <p>Descripción:</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam expedita maxime ratione molestiae quisquam officiis, libero inventore voluptas, similique ea nulla architecto porro rerum voluptatem at, nisi reprehenderit consequatur? Quae!</p>
                                    <br>
                                    <div class="precio" v-if="seleccion.precio != '0'">
                                        <p>Precio:</p>
                                        <p>$ {{seleccion.precio}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer cerrar-modal">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar x</a>
                        </div>
                    </div>
                
            </div>
				</div>
			`
		};

		const routes = [
			{path: '/', component: Principal},
		  	{path: '/principal', component: Principal},
			  {path: '/todas', component: Todas},
			  {path: '/matriz', component: Matriz},
		  	// {path: '/posts/:id', component: Post}
		];

		const router = new VueRouter({
			routes: routes
		});

		const app = new Vue({
			router: router
		}).$mount('#app');

	</script>

</body>
</html>
